<div class="card-wrapper">
    <div class="card-user" *ngIf="cardType=='user'">
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail-text">
                    {{ data.name.substring(0, 1) }}
                </div>
            </div>
            <div class="col-md">
                <div class="description">
                    <div class='row'>
                        <div class="col-md-3 text-right">
                            Name 
                        </div>
                        <div class="col-md">
                           {{ data.name }} 
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-md-3 text-right">
                            Email
                        </div>
                        <div class="col-md">
                           {{ data.email }} 
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-md-3 text-right">
                            Address 
                        </div>
                        <div class="col-md">
                           {{ data.address.street }} 
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>