<table class="table-wrapper">
    <tr>
        <ng-container *ngFor="let th of headers">
            <th> {{th}}</th>
        </ng-container>
        <th>Actions</th>
    </tr>

    <ng-container *ngFor="let td of dataTable">
        <tr>
            <td class="text-center">{{td.id}}</td>
            <td class="title">{{td.title}}</td>
            <td *ngIf="td.actions" class="actions">
                <div><img src="../../../../assets/icons/eye.svg" (click)="onClickView.emit(td.id)" /></div>
                <div><img src="../../../../assets/icons/pencil.svg" (click)="onClickEdit.emit(td)" /></div>
                <div><img src="../../../../assets/icons/trash.svg" (click)="onClickDelete.emit(td.id)" /></div>
            </td>
        </tr>
    </ng-container>

</table>