.table-wrapper {
    width: 100%;
    background-color: white;
    gap: 0;

    th {
        font-weight: bold;
        text-transform: uppercase;
    }

    th,
    td {
        padding: 10px;
    }

    td {
        padding-top: 5px;
        padding-bottom: 5px;
        border: 0px;
        border-bottom: 1px solid rgb(227, 227, 227, 0.5);
        border-top: 1px solid rgb(227, 227, 227, 0.5);
    }

    tr {
        
        &:hover {
            background-color: rgb(227, 227, 227, 0.2);
        }
    }

    .title {
        text-transform: capitalize;
    }

    .actions {
        text-align: center;

        img {
            width: 20px;
            margin-right: 10px;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
            @media screen and (max-width: 600px) {
                margin-right: 0px;
            }
        }

        div {
            display: inline;
            @media screen and (max-width: 600px) {
                display: block;
                text-align: center;
            }
        }
    }
}