.manage-post-wrapper {
    position: relative;
    width: 100%;
    .new-post {
        position: absolute;
        right: 0;
        top: -20px;
        display: inline-block;
        width: initial;
        @media screen and (max-width: 600px) {
            position: relative;
            width: 100%;
            top: 0px;
            display: block;
            max-width: 100%;
            button {
                width: 100%;
            }
        }
    }
    p {
        background: white;
        color: rgb(225, 163, 5);
        border: 1px solid rgb(255, 228, 73);
        padding: 10px;
        border-radius: 6px;
    }
}